/* App */
.App {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    h1,
    h2 {
        color: #FFF;
            font-family: Poppins;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
    }
    

   
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75rem;
        margin-top: 2rem;
        border-radius: 10px;
        background-color: #202020;
        padding: 2rem;

        .inputRow {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 1rem;

            .inputContainer {
                display: flex;
                flex-direction: column;

                label {
                    width: 34.875rem;
                    color: rgba(255, 255, 255, 0.60);
                        font-family: Poppins;
                        font-size: 1.7rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                }

                input {
                    width: 34.875rem;                    
                    height: 3rem;
                    border-radius: 0.75rem;
                    background: #353535;
                    border: none;
                    padding: 0.5rem;
                    color: #fff;
                    font-size: 16px;
                }
            }
        }

        button {
            align-self: flex-end;
            width: 14.4375rem;
            height: 3.5625rem;
            border-radius: 0.75rem;
            background: #36CE7C;
            border: none;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            margin-top: 1rem;
            &:hover{
            background-color: #2FAE63;
            transition: background-color 0.3s ease;
            }
            
        }

        span {
            color: red;
            margin-top: 10px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
        }

        &.error {
            border-color: red;

            .inputContainer input {
                border: 1px solid red;
            }
        }
    }

    .favoriteColors {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .Card {
            margin: 0.5rem;
        }
    }
}