/* cardComponent */
.cardComponent {
    position: relative;
    background-color: #202020;
    border: 2px solid rgb(196, 232, 238);
    border-radius: 0.75rem;
    width: 36.875rem;
    height: 16.125rem;
    display: flex;
    justify-content: center;
    margin: 15px;

    p {
        text-align: center;
        align-self: center;
        font-size: 18px;
    }

    span {
        position: absolute;
        text-align: center;
        align-self: end;
        bottom: 25px;
        font-size: 24px;
        font-weight: bold;
    }
}